/*
* file: src/theme/radius.css
* description: Border radius utilities for the theme.
* This file defines the border radius variables used throughout the theme.
* It includes various sizes for rounded corners, which can be applied to elements
* to achieve different visual effects.
*/

@theme {
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}
