@layer base {
  /* Proxima Nova Font Family */
  @font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 400;
    src: url(../../public/assets/fonts/proxima-nova/proximanova-regular-webfont.woff) format('woff');
  }
  @font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 500;
    src: url(../../public/assets/fonts/proxima-nova/proximanova-medium-webfont.woff) format('woff');
  }
  @font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 600;
    src: url(../../public/assets/fonts/proxima-nova/proximanova-semibold-webfont.woff) format('woff');
  }
  @font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 700;
    src: url(../../public/assets/fonts/proxima-nova/proximanova-bold-webfont.woff) format('woff');
  }
}
